<div class="modal-header">
  <h4 class="modal-title" id="myModalLabel">Job Details</h4>
  <button type="button" class="close" data-dismiss="modal">x</button>
</div>
<div class="modal-body">
    <blockquote class="twitter-tweet"><a href=<%= "https://twitter.com/#{job.author_id}/status/#{job.tweet_id}" %>></a></blockquote> 
</div>
<div class="modal-footer">
    <%= link_to "DM @#{job.author_username}", "https://twitter.com/messages/#{job.author_id}-#{current_user.uid}", class: "btn btn-info", target: :_blank %>
    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
</div>

<script src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>