<div class="modal-header">
  <h4 class="modal-title" id="myModalLabel">Job Details</h4>
  <button type="button" class="close" data-dismiss="modal">x</button>
</div>
<div class="modal-body">
    <%= job.text %>
    <% job.tweet_media.split(/,/).each do |m| %>
        <% photoInfo = m.split(/&/) %>
        <% if photoInfo[0] == "type=photo" %>
            <% photoInfo[1].slice!("url=")  %>
            <%= image_tag(photoInfo[1], style: 'height:auto;width:400px;') %>
        <% end %>
        <% if photoInfo[0] == "type=video" %>
            <% photoInfo[1].slice!("url=")  %>
            <%= video_tag(photoInfo[1]) %>
        <% end %>
    <% end %>
</div>
<div class="modal-footer">
    <%= link_to "DM @#{job.author_username}", "https://twitter.com/messages/#{job.author_id}-#{current_user.uid}", class: "btn btn-info", target: :_blank %>
    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
</div>