<h1>Approve/Disapprove Tweets</h1>

<% @jobs.each do |job| %>
    <blockquote class="twitter-tweet"><a href=<%= job.uri %>></a></blockquote> 
    <%= link_to "Approve Job", tweet_approved_path(tweetId: job.id), method: :post %>
    <%= link_to "Deny Job", tweet_denied_path(tweetId: job.id), method: :post %>
    <%= link_to "Approve Thread Job", tweet_thread_approved_path(tweetId: job.id), method: :post %>
<% end %>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>