<h1>Your Potential Jobs</h1>
<p>Here are tweets that are beneficial for you</p>

<%= link_to "Edit your account", edit_user_registration_path %>
<br>
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
