<div>
    <h1>Approve/Disapprove Tweets</h1>

    <% @jobs.each do |job| %>
        <blockquote class="twitter-tweet"><a href=<%= job.uri %>></a></blockquote> 
        <%= link_to "Approve Job", approval_approved_path(tweetId: job.id), method: :post, class: "btn btn-primary" %>
        <%= link_to "Deny Job", approval_denied_path(tweetId: job.id), method: :post, class: "btn btn-danger" %>
        <%= link_to "Approve Thread Job", approval_thread_approved_path(tweetId: job.id), method: :post, class: "btn btn-primary" %>
    <% end %>
</div>

<script src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>