<div class="jumbotron">
    <h1 class="display-4">Welcome to Twitterboard!</h1>
    <p class="lead">We created a job board from just tweets. Find all kinds of jobs in tech from the site you use to procrastinate!</p>
    <hr class="my-4">
    <p class="lead">
        <%= link_to user_twitter_omniauth_authorize_path, class: "btn btn-primary btn-lg" do %>
            Sign In With Twitter
        <% end %>
    </p>
</div>