<div class="container-page">
    <div class="jumbotron">
        <h1 class="display-5">Tweets for Jobs</h1>
        <p class="lead">We curate <%= link_to jobs_path do %><u>a collection of tweets</u><% end %> for jobs in tech</p>
        <p class="lead">There's a lot of jobs out there, but it's hard to find them. <br>
        Thankfully, most people tweet out their latest job postings.</p>
        <p class="lead">
            <% if user_signed_in? %>
                <%= link_to jobs_path, class: "btn btn-primary btn-lg" do %>
                    View Jobs
                <% end %>
            <% else %>
                <%= link_to user_twitter_omniauth_authorize_path, class: "btn btn-primary btn-lg" do %>
                    Sign In With Twitter
                <% end %>
            <% end %>
        </p>
        <hr class="my-4">
        <h4>Who posts their jobs on twitter? Everybody.</h4>
        <ul style="list-style-type:none;">
           <p>Large companies, startup founders, business owners, investors, managers & team leads</p>
        </ul>
        <hr class="my-4">
        <h4>How are jobs sourced?</h4>
        <p>Mention @TweetsForJobs in the job posting or reply to the tweet and mention @TweetsForJobs <br>
        I approve jobs that look like a good fit for the site</p>
        <hr class="my-4">
        <h4>Who made this cool site?</h4>
        <p> I did! I'm Alec Jones, a 19-year-old developer from Vancouver! (also looking for a summer 2022 internship *wink*)</p>
    </div>
</div>

<script src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>