<div class="container-center text-center"> 
  <div class="header">
    <h1 class="title">First, sign in with Twitter.</h1>
    <%= link_to "Sign in with Twitter", user_twitter_omniauth_authorize_path, class: "btn btn-primary btn-lg" %>
  </div>

  <p>Want to view the job postings we have? You've got to sign in first. <br /><br />
    Twitterboard does not read or post anything on your behalf, ever.<br /><br />
    We won't even know your email; you won't get any spam from us!</p>

</div>