.text-center {
    text-align: center;
}

.container-center {
    margin: 0 auto !important;
    width: 95% !important;
}

.right {
    float: right;
}

.right-margin {
    margin-right: 10px;
}


.col-centered{
    float: none!important;
    margin: 0 auto;
}

.card {
    display: inline-block !important;
    margin: 5px;
}

.title {
    margin-bottom: 2rem;
}

.header {
    margin: 3rem;
}